params {
    // bcftools annot
    rm_fields_csv = "INFO/CSQ,INFO/gnomad_3_1_1_AC,INFO/gnomad_3_1_1_AN,INFO/gnomad_3_1_1_AF,INFO/gnomad_3_1_1_nhomalt,INFO/gnomad_3_1_1_AC_popmax,INFO/gnomad_3_1_1_AN_popmax,INFO/gnomad_3_1_1_AF_popmax,INFO/gnomad_3_1_1_nhomalt_popmax,INFO/gnomad_3_1_1_AC_controls_and_biobanks,INFO/gnomad_3_1_1_AN_controls_and_biobanks,INFO/gnomad_3_1_1_AF_controls_and_biobanks,INFO/gnomad_3_1_1_AF_non_cancer,INFO/gnomad_3_1_1_primate_ai_score,INFO/gnomad_3_1_1_splice_ai_consequence,INFO/gnomad_3_1_1_FILTER,INFO/gnomad_3_1_1_AF_non_cancer_afr,INFO/gnomad_3_1_1_AF_non_cancer_ami,INFO/gnomad_3_1_1_AF_non_cancer_asj,INFO/gnomad_3_1_1_AF_non_cancer_eas,INFO/gnomad_3_1_1_AF_non_cancer_fin,INFO/gnomad_3_1_1_AF_non_cancer_mid,INFO/gnomad_3_1_1_AF_non_cancer_nfe,INFO/gnomad_3_1_1_AF_non_cancer_oth,INFO/gnomad_3_1_1_AF_non_cancer_raw,INFO/gnomad_3_1_1_AF_non_cancer_sas,INFO/gnomad_3_1_1_AF_non_cancer_amr,INFO/gnomad_3_1_1_AF_non_cancer_popmax,INFO/gnomad_3_1_1_AF_non_cancer_all_popmax"
    vcf = ""
    vcf_index = ""
    annotate_vcf = ""
    annotate_vcf_index = ""
    annot_fields_csv = ""
    output_basename = "TEST"
    disable_bcftools_strip = false
    bcftools_strip_extra_args = ""
    // bcftools norm
    check_ref = "w"
    multiallelics = "-any"
    disable_bcftools_norm = false
    // VEP
    disable_vep = false
    vep_cpu = 8
    vep_mem = 15 // in GB
    vep_cache = ""
    fasta = ""
    assembly = "GRCh38"
    vep_cache_version = "111"
    vep_species = "homo_sapiens"
    vep_buffer_size = 100000
    // exomiser
    disable_exomiser = false
    analysis_file = ""
    datadir_file = ""
    datadir_name = "data"
    local_frequency = ""
    local_frequency_index = ""
    pheno_file = ""
    cadd_indelname = "gnomad.genomes.r4.0.indel.tsv.gz"
    cadd_snvname = "whole_genome_SNVs.tsv.gz"
    cadd_version = "1.7"
    exomiser_version = "2406"
    exomiser_genome = "hg38"
    remm_filename = "ReMM.v0.4.hg38.tsv.gz"
    remm_version = "v0.4"
    exomiser_mem = 16
    // misc
    max_memory = "128 GB"
    max_time = "12h"
    max_cpus = 96
    outdir = "./results"
    // platform flags
    aws_test_instance = false
    sbg_run = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/kids_first.config'
if (params.aws_test_instance){ includeConfig 'conf/aws_instance_test.config' }
if (params.sbg_run){ includeConfig 'conf/sbg.config' }

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
// from: https://github.com/nf-core/sarek/blob/master/nextflow.config
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
