params {
    // Main inputs
    vcf = ""
    vcf_index = ""
    output_basename = "TEST"

    // bcftools strip
    disable_bcftools_strip_anno = false
    rm_fields_csv = "INFO/CSQ,INFO/gnomad_3_1_1_AC,INFO/gnomad_3_1_1_AN,INFO/gnomad_3_1_1_AF,INFO/gnomad_3_1_1_nhomalt,INFO/gnomad_3_1_1_AC_popmax,INFO/gnomad_3_1_1_AN_popmax,INFO/gnomad_3_1_1_AF_popmax,INFO/gnomad_3_1_1_nhomalt_popmax,INFO/gnomad_3_1_1_AC_controls_and_biobanks,INFO/gnomad_3_1_1_AN_controls_and_biobanks,INFO/gnomad_3_1_1_AF_controls_and_biobanks,INFO/gnomad_3_1_1_AF_non_cancer,INFO/gnomad_3_1_1_primate_ai_score,INFO/gnomad_3_1_1_splice_ai_consequence,INFO/gnomad_3_1_1_FILTER,INFO/gnomad_3_1_1_AF_non_cancer_afr,INFO/gnomad_3_1_1_AF_non_cancer_ami,INFO/gnomad_3_1_1_AF_non_cancer_asj,INFO/gnomad_3_1_1_AF_non_cancer_eas,INFO/gnomad_3_1_1_AF_non_cancer_fin,INFO/gnomad_3_1_1_AF_non_cancer_mid,INFO/gnomad_3_1_1_AF_non_cancer_nfe,INFO/gnomad_3_1_1_AF_non_cancer_oth,INFO/gnomad_3_1_1_AF_non_cancer_raw,INFO/gnomad_3_1_1_AF_non_cancer_sas,INFO/gnomad_3_1_1_AF_non_cancer_amr,INFO/gnomad_3_1_1_AF_non_cancer_popmax,INFO/gnomad_3_1_1_AF_non_cancer_all_popmax"
    annotate_vcf = ""
    annotate_vcf_index = ""
    annot_fields_csv = ""
    bcftools_strip_extra_args = ""

    // bcftools norm
    disable_bcftools_norm = false
    check_ref = "w"
    multiallelics = "-any"

    // VEP
    disable_vep = false
    vep_cache = ""
    fasta = ""
    assembly = "GRCh38"
    vep_cache_version = "105"
    vep_species = "homo_sapiens"
    vep_buffer_size = 100000
    vep_cpu = 32
    vep_mem = 64
    // Echtvar
    disable_echtvar_anno = false
    echtvar_zips = ""

    // Slivar Compound Hets
    disable_slivar_compound_hets = true
    ped = ""
    slivar_zips = ""

    // exomiser
    disable_exomiser = true
    analysis_file = ""
    datadir_file = ""
    datadir_name = "data"
    local_frequency = ""
    local_frequency_index = ""
    pheno_file = ""
    cadd_indelname = "gnomad.genomes.r4.0.indel.tsv.gz"
    cadd_snvname = "whole_genome_SNVs.tsv.gz"
    cadd_version = "1.7"
    exomiser_version = "2406"
    exomiser_genome = "hg38"
    remm_filename = "ReMM.v0.4.hg38.tsv.gz"
    remm_version = "v0.4"
    exomiser_mem = 16

    // misc
    outdir = "./results"
    override_suffix =  ""
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // platform flags
    aws_test_instance = false
    sbg_run = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/kids_first.config'
includeConfig params.aws_test_instance ? 'conf/aws_instance_test.config' : '/dev/null'
includeConfig params.sbg_run ? 'conf/sbg.config' : '/dev/null'

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
