process {
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 8.h    * task.attempt }
    shell  = ['/bin/bash', '-euo', 'pipefail']
    // nf-core defaults
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 16.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 32.h  * task.attempt }
    }
    withLabel:process_long {
        time   = { 40.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    // AWS-like convention [C|M|R]{cpus count}
    // See https://repost.aws/questions/QUpBFmZvwLTbGM01HkVjJuuA/why-my-ec2-instance-have-less-ram-as-instance-type
    // C: ~2x num cpus of ram in GB
    // M: ~4x num cpus of ram in GB
    // R: ~6x num cpus of ram in GB
    // i.e. C4 means 4 cpus, 8GB memory

    withLabel:C2 {
        cpus   = { 2    * task.attempt }
        memory = { 3.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:C4 {
        cpus   = { 4    * task.attempt }
        memory = { 7.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:C8 {
        cpus   = { 8     * task.attempt }
        memory = { 15.GB * task.attempt }
        time   = { 4. h  * task.attempt }
    }
    withLabel:VEP {
        cpus   = { (params.vep_cpu)    * task.attempt }
        memory = { (params.vep_mem).GB * task.attempt }
        time   = { 4.h                 * task.attempt }
    }
    withLabel:C8_flex {
        cpus   = { 8                        * task.attempt }
        memory = { (params.exomiser_mem).GB * task.attempt }
        time   = { 4.h                      * task.attempt }
    }

    withLabel:C16 {
        cpus   = { 16    * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:C32 {
        cpus   = { 32    * task.attempt }
        memory = { 60.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }

    withLabel:M4 {
        cpus   = { 4     * task.attempt }
        memory = { 15.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:M8 {
        cpus   = { 8     * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:M16 {
        cpus   = { 16    * task.attempt }
        memory = { 61.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }
    withLabel:R8 {
        cpus   = { 8     * task.attempt }
        memory = { 61.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }

}
