process {
    withName: 'BCFTOOLS_.*' {
        container = 'staphb/bcftools:1.23.1'
    }
    withName: ENSEMBLVEP_VEP {
        container = 'ensemblorg/ensembl-vep:release_105.0'
    }
    withName: ECHTVAR_ANNO {
        container = 'pgc-images.sbgenomics.com/d3b-bixu/echtvar:0.2.0'
    }
    withName: 'SLIVAR_.*' {
        container = 'pgc-images.sbgenomics.com/danmiller/slivar:0.3.4'
    }
    withName: EXOMISER {
        container = 'ferlabcrsj/exomiser:2.4.1'
    }
}

