process {
    withName: BCFTOOLS_STRIP {
        container = 'staphb/bcftools:1.23.1'
        ext.prefix = "${params.output_basename}.stripped"
        ext.args = {[
            (params.rm_fields_csv) ? "-x ${params.rm_fields_csv}" : '',
            (params.annot_fields_csv) ? "-c ${params.annot_fields_csv}" : '',
            (params.bcftools_strip_extra_args) ? "${params.bcftools_strip_extra_args.join(' ')}" : ''
        ].join (' ').strip()
        }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/ANNOTATED_VCF/" },
                enabled: ( params.disable_bcftools_norm && params.disable_vep && params.disable_echtvar_anno ),
                saveAs: { filename ->
                    if (!params.override_suffix) {
                        return filename
                    }
                    "${params.output_basename}.${params.override_suffix}.vcf.gz" + (filename.endsWith('.tbi') ? ".tbi" : '')
                },
                pattern: "*vcf.gz*"
        ]
    }
    withName: BCFTOOLS_NORM {
        container = 'staphb/bcftools:1.23.1'
        ext.prefix = "${params.output_basename}.normalized"
        ext.args = {[
            (params.check_ref) ? "-c ${params.check_ref}" : '',
            (params.multiallelics) ? "-m ${params.multiallelics}" : '',
        ].join (' ').trim()
        }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/ANNOTATED_VCF/" },
                enabled: ( params.disable_vep && params.disable_echtvar_anno ),
                saveAs: { filename ->
                    if (!params.override_suffix) {
                        return filename
                    }
                    "${params.output_basename}.${params.override_suffix}.vcf.gz" + (filename.endsWith('.tbi') ? ".tbi" : '')
                },
                pattern: "*vcf.gz*"
        ]
    }
    withName: ENSEMBLVEP_VEP {
        container = 'ensemblorg/ensembl-vep:release_105.0'
        ext.prefix =  "${params.output_basename}.vep_annotated"
        ext.args =  {[
            "--af_1kg",
            "--af_esp",
            "--af_gnomad",
            "--allele_number",
            "--allow_non_variant",
            "--canonical",
            "--ccds",
            "--check_existing",
            "--domains",
            "--dont_skip",
            "--failed 1",
            "--flag_pick",
            "--format vcf",
            "--gene_phenotype",
            "--hgvs",
            "--hgvsg",
            "--mane",
            "--merged",
            "--no_escape",
            "--no_stats",
            "--numbers",
            "--offline",
            "--pick_order rank,biotype,mane,canonical,appris,tsl,ccds,length,ensembl,refseq",
            "--polyphen b",
            "--protein",
            "--pubmed",
            "--regulatory",
            "--shift_hgvs 1",
            "--sift b",
            "--symbol",
            "--total_length",
            "--tsl",
            "--uniprot",
            "--variant_class",
            "--vcf",
            "--xref_refseq",
            params.vep_buffer_size ? "--buffer_size ${params.vep_buffer_size}" : ''
        ].join (' ').trim()
        }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/ANNOTATED_VCF/" },
                enabled: ( !params.disable_vep && params.disable_echtvar_anno ),
                saveAs: { filename ->
                    if (!params.override_suffix) {
                        return filename
                    }
                    "${params.output_basename}.${params.override_suffix}.vcf.gz" + (filename.endsWith('.tbi') ? ".tbi" : '')
                },
                pattern: "*vcf.gz*"
        ]
    }
    withName: ECHTVAR_ANNO {
        container = 'pgc-images.sbgenomics.com/d3b-bixu/echtvar:0.2.0'
        ext.prefix =  "${params.output_basename}.echtvar_annotated"
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/ANNOTATED_VCF/" },
                enabled: ( !params.disable_echtvar_anno ),
                saveAs: { filename ->
                    if (!params.override_suffix) {
                        return filename
                    }
                    "${params.output_basename}.${params.override_suffix}.vcf.gz" + (filename.endsWith('.tbi') ? ".tbi" : '')
                },
                pattern: "*vcf.gz*"
        ]
    }
    withName: SLIVAR_EXPR {
        container = 'pgc-images.sbgenomics.com/danmiller/slivar:0.3.4'
        ext.prefix =  "${params.output_basename}.expr_filtered"
        ext.args = {[
            "--family-expr 'denovo:fam.every(segregating_denovo) && INFO.gnomad_3_1_1_AF_popmax < 0.001'",
            "--family-expr 'recessive:fam.every(segregating_recessive)'",
            "--family-expr 'dominant:fam.every(segregating_dominant) && INFO.gnomad_3_1_1_AF_popmax < 0.001'",
            "--trio 'comphet_side:comphet_side(kid, mom, dad) && INFO.gnomad_3_1_1_nhomalt < 10'",
            "--family-expr 'comphet_side_duosolo: fam.every(function(s) { return !( (\"dad\" in s) && (\"mom\" in s) ) }) && fam.every(function(s) { return (s.het || s.hom_ref) && s.GQ >= 20 }) && fam.some(function(s) { return s.het && s.affected })'",
            "--info 'variant.FILTER == \"PASS\" && variant.ALT[0] != \"*\" && INFO.gnomad_3_1_1_AF_popmax < 0.01" +
                (params.slivar_zips ? " && INFO.topmed_af < 0.05'" : "'")
        ].join(' ').trim()
        }
    }
    withName: SLIVAR_COMPOUND_HETS {
        container = 'pgc-images.sbgenomics.com/d3b-bixu/slivar:0.3.4'
        ext.prefix =  "${params.output_basename}.compound_hets"
        ext.args = {[
            "--allow-non-trios",
            "--sample-field comphet_side",
            "--sample-field comphet_side_duosolo",
            "--sample-field denovo",
        ].join(' ').trim()
        }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/SLIVAR/" },
                pattern: "*vcf.gz*"
        ]
    }
    withName: EXOMISER {
        container = 'ferlabcrsj/exomiser:2.4.1'
        ext.args = { "--output-filename=${params.output_basename}.exomiser" }
        publishDir = [
                mode: 'copy',
                path: { "${params.outdir}/EXOMISER/" },
                pattern: "*exomiser*"
        ]
    }
}

