process {
    withName: BCFTOOLS_STRIP {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm $vcf $vcf_index $annotate_vcf $annotate_vcf_index" }
    }
    withName: BCFTOOLS_NORM {
        $sbgAWSInstanceHint='c6i.2xlarge'
        afterScript = { "rm $vcf $vcf_index ${fasta}*" }
    }
    withName: ENSEMBLVEP_VEP {
        $sbgAWSInstanceHint= (16 < params.vep_cpu && params.vep_cpu <= 32) ? 'c6i.8xlarge' : ((8 < params.vep_cpu && params.vep_cpu <= 16) ?  'c6i.4xlarge' : 'c6i.2xlarge')
        afterScript = { "rm -rf $vcf $vcf_index ${fasta}* $cache ${species}*" }
    }
    withName: EXOMISER {
        $sbgAWSInstanceHint= params.exomiser_mem <= 16 ? 'c6i.2xlarge' : 'm6i.2xlarge'
        afterScript = { "rm -rf $analysis_file $datadir_tar $datadir_name $local_frequency $local_frequency_index $pheno_file" }
    }
}
