process {
    withName: BCFTOOLS_STRIP {
        $sbgAWSInstanceHint="c6i.2xlarge;ebs-gp2;${params.min_disk}"
        afterScript = { "rm $vcf $vcf_index $annotate_vcf $annotate_vcf_index" }
    }
    withName: BCFTOOLS_NORM {
        $sbgAWSInstanceHint="c6i.2xlarge;ebs-gp2;${params.min_disk}"
        afterScript = { "rm $vcf $vcf_index ${fasta}*" }
    }
    withName: ENSEMBLVEP_VEP {
        $sbgAWSInstanceHint= (16 < params.vep_cpu && params.vep_cpu <= 32) ? "c6i.8xlarge;${params.min_disk}" : ((8 < params.vep_cpu && params.vep_cpu <= 16) ?  "c6i.4xlarge;${params.min_disk}" : "c6i.2xlarge;ebs-gp2;${params.min_disk}")
        afterScript = { "rm -rf $vcf $vcf_index ${fasta}* $cache ${species}*" }
    }
    withName: ECHTVAR_ANNO {
        $sbgAWSInstanceHint="c6i.2xlarge;ebs-gp2;${params.min_disk}"
        afterScript = { "rm -rf $vcf $vcf_index $echtvar_zips" }
    }
    withName: SLIVAR_EXPR {
        $sbgAWSInstanceHint="c6i.2xlarge;ebs-gp2;${params.min_disk}"
        afterScript = { "rm -rf $vcf $vcf_index $ped $gnotate_zips" }
    }
    withName: SLIVAR_COMPOUND_HETS {
        $sbgAWSInstanceHint="c6i.2xlarge;ebs-gp2;${params.min_disk}"
        afterScript = { "rm -rf $vcf $vcf_index $ped" }
    }
    withName: EXOMISER {
        $sbgAWSInstanceHint= params.exomiser_mem <= 16 ? "c6i.2xlarge;ebs-gp2;${params.min_disk}" : "m6i.2xlarge;ebs-gp2;${params.min_disk}"
        afterScript = { "rm -rf $analysis_file $datadir_tar $datadir_name $local_frequency $local_frequency_index $pheno_file" }
    }
}
